{% extends 'main/base.html' %}

{% block title %}Account Registration Successful{% endblock %}

{% load crispy_forms_tags %}

{% block content %} 

<style>
@media (min-width: 1025px) {
.h-custom {
height: 100vh !important;
}
}
</style>
<section class="h-100 h-custom" style="background-image: url('https://i.pinimg.com/originals/e5/82/ed/e582ed4bb3a25d97fb03ac52c578ad67.jpg'); background-size: cover;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div class="card rounded-3" style="background-color: black; border: 2px solid #89CFF0;">
            <img src="https://cdn.pixabay.com/photo/2017/02/05/23/32/moon-2041738_1280.jpg"
              class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem; height:300px; width:100px;"
              alt="Sample photo">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2" style = "color:#89CFF0">Registration Successful</h3>
              <h5 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2" style = "color:#89CFF0">You can now login to your account <a href="/login" style="color: white;">here!</a></h5>
              
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}