{% extends 'main/base.html' %}

{% block content %}
    
<br>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

  </head>
<div class="mx-auto" style="width: 800px;">
    <br>

    

    <h2 style="font-size: 24px; text-align: center; margin-bottom: 20px;">Edit Account</h2>

    <form method="post">
<div class="col-md-6 form-group" style="width: 600px;">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary btn-block">Save Changes</button>
</div>
    </form>

    <br>
</div>
<br>
{% endblock %}
