{% extends 'main/base.html' %}

{% block title %}Payment Success{% endblock %}

{% block content %}

<br>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

  </head>
  
    <br>
<div class="container">
  <h1 style="font-size: 24px; text-align: center; margin-bottom: 20px;">Payment Successful</h1>
  <p style="text-align: center;">Thank you for your payment!</p>
  <p style="text-align: center;">You can view your order <a href="/view_orders">here</a></p>
  <p style="text-align: center;"><a href="/home">Back to Home Page</a></p>
</p>

</div>
  <!-- You can include additional content or messages here as needed -->

<br>
{% endblock %}