{% extends 'main/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Test Accuracy{% endblock %}

{% block content %}
<div class="container">
    <form method="post" enctype="multipart/form-data" class="row g-3">
        {% csrf_token %}
        <legend class="mb-4">Predict Buyer Product Ratings</legend>
        <div class="col-md-6">
            <div>
                <label for="username">
                    Target Customer's Username
                </label>
                <input type="text" id="username" name="username" value="">
            </div>
            <div>
                <label for="similarity_thresh">
                    Similarity Threshold (0 to 1)
                </label>
                <input type="number" step="0.01" min="0" id="similarity_thresh" name="similarity_thresh" value="0.3">
            </div>
            <div>
                <label>
                    Top number of similar customers to consider
                </label>
                <input type="number" id="n" name="n" value="10">
            </div>
            <div>
                <label>
                    Maximum number of products to recommend
                </label>
                <input type="number" id="m" name="m" value="10">
            </div>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Test</button>
        </div>
    </form>
</div>
{% endblock %}
