{% extends 'main/base.html' %}
{% block content %}
    <h2>User Profile</h2>

    <div>
        <p><strong>Username:</strong> {{ user.username }}</p>
        <p><strong>Name:</strong> {{ user.first_name|default:"" }} {{ user.last_name|default:"" }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Phone Number:</strong> {{ user.phone_number|default:"" }}</p>
        <p><strong>Address:</strong> {{ user.address|default:"" }}</p>
        
        <!-- Add more user profile fields as needed -->


        <!-- Edit User Profile Button -->
        <a href="{% url 'edit_account' %}" class="btn btn-primary">Edit Profile</a>
        <a href="{% url 'change_password' %}" class="btn btn-primary">Change Password</a>

        <!-- Delete Account Button -->
        <form method="post" action="{% url 'delete_account' %}" style="display: inline;">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger" value="Delete Account">
        </form>
    </div>
{% endblock %}
